body {
  background-image: url(../images/createUserBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.headingContainer{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
#heading {
  width: 700px;
  
}
.userFormContainer {
  display: flex;
  justify-content: center;
}
form {
  background-color: rgba(227, 184, 164, .8);
  width: 1000px;
  padding: 30px;
  margin-top: 50px;
}
